/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Your app custom styles here */
@import "./sanfrancisco-font.css";
@import "./auth/auth";

* {
  /*font-family: 'SF Text';*/
  box-sizing:border-box;
  user-select:none;
}

p {
  margin: 0;
  padding: 0;
}

input {
  border:none;
  background-image:none;
  background-color:transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  user-select:none;
}

input, textarea{
  user-select: auto!important;
}
